{% extends 'common/base.html' %}
{% load static %}
{% block title %}Genres | CHECKPOINT{% endblock %}
{% block content %}
<section class="genres-section">
    <div class="genres-header">
        <h1 class="genres-title">GENRES</h1>
        <p class="genres-subtitle">Browse games by type of gameplay</p>
    </div>
    <div class="genres-grid">
        <a href="{% url 'roms genre detail' 'action' %}" class="genre-box">🎦<br>Action</a>
        <a href="{% url 'roms genre detail' 'adventure' %}" class="genre-box">🥾<br>Adventure</a>
        <a href="{% url 'roms genre detail' 'platformer' %}" class="genre-box">🧗‍♂<br>Platformer</a>
        <a href="{% url 'roms genre detail' 'rpg' %}" class="genre-box">⚔️<br>RPG</a>
        <a href="{% url 'roms genre detail' 'fighting' %}" class="genre-box">🤼‍♂️<br>Fighting</a>
        <a href="{% url 'roms genre detail' 'shooter' %}" class="genre-box">🏹<br>Shooter</a>
        <a href="{% url 'roms genre detail' 'puzzle' %}" class="genre-box">🧩<br>Puzzle</a>
        <a href="{% url 'roms genre detail' 'sports' %}" class="genre-box">🏋️‍♀️<br>Sports</a>
        <a href="{% url 'roms genre detail' 'racing' %}" class="genre-box">🏎️<br>Racing</a>
        <a href="{% url 'roms genre detail' 'strategy' %}" class="genre-box">♟️<br>Strategy</a>
        <a></a>
        <a href="{% url 'roms genre detail' 'simulation' %}" class="genre-box">👨‍💻<br>Simulation</a>
        <a></a>
        <a href="{% url 'roms genre detail' 'horror' %}" class="genre-box">😱<br>Horror</a>
    </div>
</section>
{% endblock %}

