{% extends 'common/base.html' %}
{% load static %}
{% block title %}PLATFORMS | CHECKPOINT{% endblock %}

{% block content %}
<div class="platforms-container">
    <h1>PLATFORMS</h1>
    <div class="platform-grid">
        <a href="{% url 'roms platforms nes' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/NES.webp' %}" alt="NES" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">NES</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms famicom' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/famicom.webp' %}" alt="Famicom" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Famicom</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms snes' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/SNES.webp' %}" alt="SNES" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">SNES</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms super famicom' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/super_famicom.webp' %}" alt="Super Famicom" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Super Famicom</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms n64' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/n64.webp' %}" alt="Nintendo 64" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Nintendo 64</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms gamecube' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/gamecube.webp' %}" alt="GameCube" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">GameCube</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms wii' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/wii.webp' %}" alt="Wii" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Wii</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms wii u' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/wii_u.webp' %}" alt="Wii U" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Wii U</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms nintendo switch' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/nintendo_switch.webp' %}" alt="Nintendo Switch" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Nintendo Switch</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms gameboy' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/gameboy.webp' %}" alt="Game Boy" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Game Boy</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms gbc' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/game_boy_color.webp' %}" alt="Game Boy Color" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Game Boy Color</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms gba' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/game_boy_advance.webp' %}" alt="Game Boy Advance" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Game Boy Advance</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms nintendo ds' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/nintendo_ds.webp' %}" alt="Nintendo DS" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Nintendo DS</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms nintendo 3ds' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/nintendo_3ds.webp' %}" alt="Nintendo 3DS" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Nintendo 3DS</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms sega master system' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/sega_master_system.webp' %}" alt="Sega Master System" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Sega Master System</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms genesis' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/sega_genesis.webp' %}" alt="Sega Genesis / Mega Drive" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Sega Genesis / Mega Drive</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms sega cd' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/sega_cd.webp' %}" alt="Sega CD" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Sega CD</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms 32x' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/sega_32x.webp' %}" alt="32X" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">32X</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms sega saturn' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/sega_saturn.webp' %}" alt="Sega Saturn" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Sega Saturn</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms sega dreamcast' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/sega_dreamcast.webp' %}" alt="Sega Dreamcast" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Sega Dreamcast</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms game gear' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/sega_game_gear.webp' %}" alt="Game Gear" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Game Gear</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms ps1' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/ps1.webp' %}" alt="PlayStation" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">PlayStation</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms ps2' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/ps2.webp' %}" alt="PlayStation 2" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">PlayStation 2</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms ps3' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/ps3.webp' %}" alt="PlayStation 3" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">PlayStation 3</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms psp' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/psp.webp' %}" alt="PlayStation Portable (PSP)" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">PlayStation Portable (PSP)</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms vita' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/ps_vita.webp' %}" alt="PlayStation Vita" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">PlayStation Vita</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms xbox' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/xbox.webp' %}" alt="Xbox" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Xbox</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms xbox 360' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/xbox_360.webp' %}" alt="Xbox 360" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Xbox 360</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms xbox one' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/xbox_one.webp' %}" alt="Xbox One" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Xbox One</h2>
                </div>
            </div>
        </a>
        <a href="{% url 'roms platforms atari' %}" class="platform-card-link">
            <div class="platform-card">
                <img src="{% static 'images/platforms/atari.webp' %}" alt="Atari" class="platform-card-img">
                <div class="platform-card-info">
                    <h2 class="platform-card-title">Atari</h2>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}
