{% extends 'common/base.html' %}
{% block title %}About | CheckPoint{% endblock %}
{% block content %}
<section class="about-section">
    <h1 class="about-title">About CheckPoint</h1>
    <p class="about-text">
        This website is a project for <strong>SoftUni Django Advanced</strong>.
        <br><br>
        CheckPoint is designed to help you keep track of your game progress, download and share save files
        and access ROMs for your favorite games. The navigation bar and homepage showcase the main features such as<br>
        ROMs downloading and uploading;<br>
        Save Files (SAVE VAULT) downloading, uploading;<br>
        Community Forums, Events and much more.
    </p>
    <p class="about-text">
        You can find the source code on GitHub:
        <br>
        <a href="https://github.com/tsvtln/GameAndMediaTracker" target="_blank" class="about-link">
            https://github.com/tsvtln/GameAndMediaTracker
        </a>
    </p>
</section>
{% endblock %}
