{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/logo.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
    <link rel="stylesheet" href="{% static 'css/website_news.css' %}">
    <link rel="stylesheet" href="{% static 'css/roms.css' %}">
    <link rel="stylesheet" href="{% static 'css/top-games.css' %}">
    <link rel="stylesheet" href="{% static 'css/newly-added.css' %}">
    <link rel="stylesheet" href="{% static 'css/platforms.css' %}">
    <link rel="stylesheet" href="{% static 'css/platforms-detail.css' %}">
    <link rel="icon" href="{% static 'images/icons/favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}CHECKPOINT{% endblock %}</title>
</head>
<body>
<header class="site-header">
    {% include 'common/navigation.html' %}
</header>

<main class="site-main">
    {% block content %}{% endblock %}
</main>

<footer class="site-footer">
    <div class="footer-links">
        <a href="{% url 'about' %}">🪙 About</a>
        <a href="{% url 'contacts' %}">📫 Contacts</a>
        <a href="{% url 'website_news' %}">🗞️ Website News</a>
    </div>
    <span>CHECKPOINT©2026</span>
</footer>
</body>
</html>
