{% load static %}
<nav class="site-nav">
    <div class="nav-left">
        <a class="brand" href="{% url 'home' %}">
            <img src="{% static 'images/images_banners/logo3.png' %}" alt="CheckPoint logo">
        </a>
    </div>

    <ul class="nav-center">
        <li><a href="{% url 'home' %}"><img src="{% static 'images/icons/home.png' %}" alt="HOME"></a></li>
        <li class="nav-item has-dropdown">
            <a href="{% url 'roms page' %}"><img src="{% static 'images/icons/roms.png' %}" alt="ROMS"></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'roms top games' %}">Top Games</a></li>
                <li><a href="{% url 'roms newly added' %}">Newly Added</a></li>
                <li><a href="{% url 'roms trending' %}">Trending</a></li>
                <li><a href="{% url 'roms most downloaded' %}">Most Downloaded</a></li>
                <li><a href="{% url 'roms genres' %}">Genres</a></li>
                <li><a href="{% url 'roms platforms' %}">Platforms</a></li>
                <li><a href="{% url 'roms upload' %}">ROM Upload</a></li>
            </ul>
        </li>
        <li class="nav-item has-dropdown">
            <a href="{% url 'bios page' %}"><img src="{% static 'images/icons/bios.png' %}" alt="BIOS"></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'bios all files' %}">All BIOS Files</a></li>
                <li><a href="#">Installation Guides</a></li>  {# note: to add the link when forums>guides is done #}
                <li><a href="{% url 'bios faq' %}">BIOS FAQ</a></li>
                <li><a href="{% url 'bios upload' %}">BIOS Upload</a></li>  {# note: if logged in #}
            </ul>
        </li>
        <li class="nav-item has-dropdown">
            <a href="{% url 'saves main page' %}"><img src="{% static 'images/icons/saves.png' %}" alt="SAVES"></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'saves all page' %}">All Saves</a></li>
                <li><a href="{% url 'saves vault page' %}">My Vault</a></li>  {# note: if logged in #}
                <li><a href="{% url 'saves upload page' %}">Upload Save</a></li>  {# note: if logged in #}
            </ul>
        </li>
        <li class="sav-item has-dropdown">
            <a href="#"><img src="{% static 'images/icons/reviews.png' %}" alt="Reviews"></a>
            <ul class="dropdown-menu">
                <li><a href="#">Latest Reviews</a></li>
                <li><a href="#">Top Rated Reviews</a></li>
                <li><a href="#">Most Discussed</a></li>
                <li><a href="#">My Reviews</a></li>  {# note: if logged in #}
                <li><a href="#">Submit Review</a></li>  {# note: if logged in #}
            </ul>
        </li>
        <li class="nav-item has-dropdown">
            <a href="#"><img src="{% static 'images/icons/favorites.png' %}" alt="Favorites"></a>  {# note: if logged in #}
            <ul class="dropdown-menu">
                <li><a href="#">Favorite ROMs</a></li>
                <li><a href="#">Favorite Screenshots</a></li>
            </ul>
        </li>
        <li class="nav-item has-dropdown">
            <a href="#"><img src="{% static 'images/icons/community.png' %}" alt="Community"></a>
            <ul class="dropdown-menu">
                <li><a href="#">Forums</a></li>
                <li><a href="#">Guides</a></li>
                <li><a href="#">Events</a></li>
            </ul>
        </li>
        <li class="nav-item has-dropdown">
            <a href="#"><img src="{% static 'images/icons/screenshots_gallery.png' %}" alt="Screenshots"></a>
            <ul class="dropdown-menu">
                <li><a href="#">Latest Screenshots</a></li>
                <li><a href="#">Top Rated Screenshots</a></li>
                <li><a href="#">My Screenshots</a></li>  {# note: if logged in #}
                <li><a href="#">Submit Screenshot</a></li>  {# note: if logged in #}
            </ul>
        </li>
    </ul>

    <div class="nav-right">
        <div class="auth-links">
            <a class="auth-link" href="#"><img src="{% static 'images/icons/login.png' %}" alt="LOGIN"></a>
            <a class="auth-link" href="#"><img src="{% static 'images/icons/profile.png' %}" alt="PROFILE"></a>  {# note: if logged in #}
            <a class="auth-link" href="#"><img src="{% static 'images/icons/logout.png' %}" alt="LOGOUT"></a>  {# note: if logged in #}
            <a class="auth-link" href="#"><img src="{% static 'images/icons/register.png' %}" alt="REGISTER"></a>
        </div>
        <form class="nav-search" action="#" method="get">
            <input type="text" name="q" placeholder="Search">
            <button type="submit">Search</button>
        </form>
    </div>
</nav>
