{% load user_groups %}
{% load static %}
<nav class="site-nav">
    <div class="nav-left">
        <a class="brand" href="{% url 'home' %}">
            <img src="{% static 'images/images_banners/logo3.webp' %}" alt="CheckPoint logo">
        </a>
    </div>

    <ul class="nav-center">
        <li><a href="{% url 'home' %}"><img src="{% static 'images/icons/home.png' %}" alt="HOME"></a></li>
        <li class="nav-item has-dropdown">
            <a href="{% url 'roms page' %}"><img src="{% static 'images/icons/roms.png' %}" alt="ROMS"></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'roms top games' %}">Top Games</a></li>
                <li><a href="{% url 'roms newly added' %}">Newly Added</a></li>
                <li><a href="{% url 'roms trending' %}">Trending</a></li>
                <li><a href="{% url 'roms most downloaded' %}">Most Downloaded</a></li>
                <li><a href="{% url 'roms genres' %}">Genres</a></li>
                <li><a href="{% url 'roms platforms' %}">Platforms</a></li>
                <li><a href="{% url 'roms upload' %}">ROM Upload</a></li>
            </ul>
        </li>
        <li class="nav-item has-dropdown">
            <a href="{% url 'bios page' %}"><img src="{% static 'images/icons/bios.png' %}" alt="BIOS"></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'bios all files' %}">All BIOS Files</a></li>
                <li><a href="{% url 'forum board' 'bios_setup' %}">Installation Guides</a></li>
                <li><a href="{% url 'bios faq' %}">BIOS FAQ</a></li>
                {% if user.is_staff or user|in_groups:"Moderators,Verified Users" %}
                    <li><a href="{% url 'bios upload' %}">BIOS Upload</a></li>
                {% endif %}
            </ul>
        </li>
        <li class="nav-item has-dropdown">
            <a href="{% url 'saves main page' %}"><img src="{% static 'images/icons/saves.png' %}" alt="SAVES"></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'saves all page' %}">All Saves</a></li>
                <li><a href="{% url 'saves vault page' %}">My Vault</a></li>  {# note: if logged in #}
                <li><a href="{% url 'saves upload page' %}">Upload Save</a></li>  {# note: if logged in #}
            </ul>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item has-dropdown">
                <a href="{% url 'accounts favorites page' %}"><img src="{% static 'images/icons/favorites.png' %}" alt="Favorites"></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'accounts favorite roms page' %}">Favorite ROMs</a></li>
                    <li><a href="{% url 'accounts favorite screenshots page' %}">Favorite Screenshots</a></li>
                </ul>
            </li>
        {% endif %}
        <li class="nav-item has-dropdown">
            <a href="{% url 'community page' %}"><img src="{% static 'images/icons/community.png' %}" alt="Community"></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'forum index' %}">Forums</a></li>
                <li><a href="#">Guides</a></li>
                <li><a href="{% url 'community events page' %}">Events</a></li>
            </ul>
        </li>
        <li class="nav-item has-dropdown">
            <a href="{% url 'screenshots main' %}"><img src="{% static 'images/icons/screenshots_gallery.png' %}" alt="Screenshots"></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'latest screenshots' %}">Latest Screenshots</a></li>
                <li><a href="{% url 'top rated screenshots' %}">Top Rated Screenshots</a></li>
                <li><a href="{% url 'my screenshots' %}">My Screenshots</a></li>  {# note: if logged in #}
                <li><a href="{% url 'upload screenshot' %}">Submit Screenshot</a></li>  {# note: if logged in #}
            </ul>
        </li>
    </ul>

    <div class="nav-right">
        <div class="auth-links">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="auth-link logout-btn" style="background: none; border: none; padding: 0;">
                        <img src="{% static 'images/icons/logout.png' %}" alt="LOGOUT">
                    </button>
                </form>
                <a class="auth-link" href="{% url 'profile' %}"><img src="{% static 'images/icons/profile.png' %}" alt="PROFILE"></a>
                {% if user.is_staff %}
                    <a class="auth-link" href="{% url 'admin page' %}"><img src="{% static 'images/icons/admin.webp' %}" alt="ADMIN"></a>
                {% endif %}
            {% else %}
                <a class="auth-link" href="{% url 'login' %}"><img src="{% static 'images/icons/login.png' %}" alt="LOGIN"></a>
                <a class="auth-link" href="{% url 'register' %}"><img src="{% static 'images/icons/register.png' %}" alt="REGISTER"></a>
            {% endif %}
        </div>
        <form class="nav-search" action="#" method="get">
            <label>
                <input type="text" name="q" placeholder="Search">
            </label>
            <button type="submit">Search</button>
        </form>
    </div>
</nav>
