{% extends 'common/base.html' %}
{% load user_groups %}
{% load static %}

{% block title %}BIOS | CHECKPOINT{% endblock %}

{% block content %}
<section class="bios-section">
    <h1 class="bios-title">BIOS</h1>
    <div class="bios-grid">
        <div class="roms-box">
            <a href="{% url 'bios all files' %}" class="roms-box-title">All BIOS Files</a>
            <ul class="roms-box-list">
                {% if recent_bios %}
                    {% for bios in recent_bios %}
                        <li><a href="{% url 'bios download' bios.pk %}">{{ bios.platform }}</a></li>
                    {% endfor %}
                {% else %}
                    <li>No BIOS files uploaded yet</li>
                {% endif %}
            </ul>
            <a href="{% url 'bios all files' %}" class="roms-box-more bottom-right">...</a>
        </div>
        <div class="roms-box">
            <a href="{% url 'forum board' 'bios-setup' %}" class="roms-box-title">Installation Guides</a>
            <ul class="roms-box-list">
                {% if bios_setup_threads %}
                    {% for thread in bios_setup_threads %}
                        <li><a href="{% url 'forum thread' 'bios-setup' thread.slug %}">{{ thread.title }}</a></li>
                    {% endfor %}
                {% else %}
                    <li>No guides posted yet</li>
                {% endif %}
            </ul>
            <a href="{% url 'forum board' 'bios-setup' %}" class="roms-box-more bottom-right">...</a>
        </div>
        <div class="roms-box">
            <a href="{% url 'bios faq' %}" class="roms-box-title">BIOS FAQ</a>
            <ul class="roms-box-list">
                <li><a href="{% url 'bios faq' %}">Common Questions</a></li>
                <li><a href="{% url 'bios legal' %}">Legal Info</a></li>
                <li><a href="{% url 'bios compatibility' %}">BIOS Compatibility</a></li>
            </ul>
        </div>
        <div></div>
        {% if user.is_staff or user|in_groups:"Moderators,Verified Users" %}
            <div class="roms-box">
                <a href="{% url 'bios upload' %}" class="roms-box-title">BIOS Upload</a>
                <p class="roms-box-description">Share a BIOS with the community</p>
                <a href="{% url 'bios upload' %}" class="roms-box-upload-btn"><span>Upload Now</span></a>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
