{% extends 'common/base.html' %}
{% load static %}
{% block title %}{{ board.name }} | CHECKPOINT{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/forum_board.css' %}">
<section class="forum-section">
    <h1 class="bios-title">{{ board.name|upper }}</h1>
    {% if board.description %}
    <p class="forum-description">{{ board.description }}</p>
    {% endif %}
    <div class="forum-thread-list">
        {% if threads_data %}
            {% for data in threads_data %}
            <div class="forum-thread-card">
                <a href="{% url 'forum thread' board_slug data.thread.slug %}" class="forum-thread-title">{{ data.thread.title }}</a>
                <div class="forum-thread-meta">Author: {{ data.thread.author.username }} | Replies: {{ data.reply_count }} | Last Post: {% if data.last_post %}{{ data.last_post.created_at|date:"Y-m-d" }}{% else %}{{ data.thread.created_at|date:"Y-m-d" }}{% endif %}</div>
            </div>
            {% endfor %}
        {% else %}
        <p class="forum-empty-message">No topics in this board yet. Be the first to create one!</p>
        {% endif %}
    </div>
    <div class="forum-new-topic-btn">
        <a href="{% url 'forum new topic' %}" class="download-btn">Create New Topic</a>
    </div>
</section>
{% endblock %}
