{% extends 'common/base.html' %}
{% load static %}
{% block title %}Create New Topic | CHECKPOINT{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/forum.css' %}">
<link rel="stylesheet" href="{% static 'css/forum_new_topic.css' %}">
<section class="forum-section">
    <h1 class="bios-title">CREATE NEW TOPIC</h1>
    <form class="forum-new-topic-form" method="post">
        {% csrf_token %}
        <label for="id_title">Title:</label>
        {{ thread_form.title }}

        <label for="id_board">Board:</label>
        {{ thread_form.board }}

        <label for="id_content">Content:</label>
        {{ post_form.content }}

        <button type="submit" class="download-btn">Create Topic</button>
    </form>
</section>
{% endblock %}
